/* Reset de CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Fin del Reset */

/* Estilos de la aplicación */

:root {
  --blanco-1: #ffffff;
  --blanco-2: #f9f7fc;
  --verde-1: #17844e;
  --azul-1: #357bad;
  --azul-boton-1: #e8eef5;
  --azul-boton-2: #15579e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 5rem;
  width: 100%;
  background-color: var(--blanco-1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
}

.logo-nombre-empresa a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-left: 1rem;
}

.logo-empresa {
  width: 5vw;
  height: auto;
  max-width: 10rem;
  min-width: 3rem;
}

.nombre-empresa {
  display: none;
  font-size: 2.2rem;
  font-weight: 700;
  background: linear-gradient(180deg, var(--azul-1) 20%, var(--verde-1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-contacto {
  display: none;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--azul-boton-1);
  color: var(--azul-boton-2);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.js-icono-barras {
  display: block;
  text-decoration: none;
  color: #4b4b4b;
  font-size: 1.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  background-color: var(--blanco-1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-contacto-drop {
  display: block;
  padding: 1rem;
  border: none;
  width: 100%;
  text-align: center;
  background-color: #eef1f5;
  color: var(--azul-boton-2);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 768px) {
  .logo-nombre-empresa {
    margin-left: 2.5rem;
  }

  .nombre-empresa {
    display: block;
  }

  .btn-contacto {
    display: block;
    margin-right: 3rem;
  }

  .js-icono-barras {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }
}
