/* Reset de CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Fin del Reset */

/* Estilos de la aplicación */

:root {
  --blanco-1: #ffffff;
  --blanco-2: #f9f7fc;
  --verde-2: #0b8c79;
  --verde-3: #02c155;
  --azul-1: #145d9a;
  --azul-boton-1: #e8eef5;
  --azul-boton-2: #15579e;
  --color-texto: #2e2e2e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blanco-2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  background-color: var(--blanco-1);
  font-family: "Roboto", sans-serif;
}

.logo-nombre-empresa a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-left: 1rem;
}

.logo-empresa {
  width: 5vw;
  height: auto;
  max-width: 10rem;
  min-width: 3rem;
}

.nombre-empresa {
  display: none;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: linear-gradient(to bottom, var(--azul-1) 0%, var(--verde-3) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-contacto {
  display: none;
  padding: 0.7rem 4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--azul-boton-1);
  color: var(--azul-boton-2);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.js-icono-barras {
  display: block;
  text-decoration: none;
  color: #4b4b4b;
  font-size: 1.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  background-color: var(--blanco-1);
}

.btn-contacto-drop {
  display: block;
  padding: 1rem;
  border: none;
  width: 100%;
  text-align: center;
  background-color: #eef1f5;
  color: var(--azul-boton-2);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .btn-contacto {
    display: block;
    margin-right: 3rem;
  }

  .js-icono-barras {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }
}

@media (min-width: 1024px) {
  header {
    -webkit-box-shadow: 0px 12px 5px -3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 12px 5px -3px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 12px 5px -3px rgba(0, 0, 0, 0.13);
  }

  .logo-nombre-empresa {
    margin-left: 2.5rem;
  }

  .nombre-empresa {
    display: block;
  }

  .btn-contacto {
    display: block;
    margin-right: 3rem;
  }

  .js-icono-barras {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-texto);
  font-family: Arial, Helvetica, sans-serif;
}

.primera-seccion {
  background-color: var(--blanco-2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;
  margin-top: 8rem;
  font-family: "Tahoma", sans-serif;
}

h1 {
  font-size: 2.15rem;
  font-weight: 700;
  text-wrap: wrap;
  line-height: 1.2;
}

.texto-especial-1 {
  color: var(--verde-2);
}

.texto-especial-2 {
  color: var(--verde-3);
}

.primera-seccion img {
  width: 45vw;
  max-width: 30rem;
  height: auto;
}

@media (min-width: 1024px) {
  .primera-seccion {
    flex-direction: row;
    padding: 6rem;
  }

  h1 {
    font-size: 3.5rem;
    margin-left: 5rem;
  }

  .primera-seccion img {
    width: 18vw;
    margin-right: 5rem;
  }
}

.cotizacion {
  background-color: var(--blanco-1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 5rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  position: relative;
  top: 5rem;
  font-family: "Roboto", sans-serif;
}

.contenedor-cot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-gradiente-1 {
  font-size: 1.36rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  background: linear-gradient(to bottom, var(--azul-1) 0%, var(--verde-3) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contenedor-cot p:first-of-type {
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 3rem 0;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: -0.5rem;
}

input,
textarea {
  padding: 0.7rem 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--azul-1);
}

textarea {
  resize: none;
}

.btn-enviar {
  padding: 0.5rem 4rem;
  border: none;
  border-radius: 0.2rem;
  background: linear-gradient(90deg, var(--azul-1) 0%, var(--verde-3) 100%);
  color: var(--blanco-1);
  font-size: 0.95rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .cotizacion {
    width: 85%;
    padding: 1.5rem 4rem;
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.37);
  }

  .titulo-gradiente-1 {
    font-size: 1.8rem;
  }

  .contenedor-cot p:first-of-type {
    font-size: 1.2rem;
  }

  .contenedor-cot p:nth-of-type(2) {
    font-size: 1.3rem;
  }

  textarea {
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .cotizacion {
    width: 85%;
    flex-direction: row;
    padding: 1rem 3rem;
    gap: 3rem;
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.37);
  }

  .contenedor-cot {
    width: 50%;
    position: relative;
    top: -6rem;
  }

  .titulo-gradiente-1 {
    font-size: 2rem;
    text-align: left;
  }

  .contenedor-cot p:first-of-type {
    font-size: 1.5rem;
    text-align: left;
    margin-top: -0.3rem;
  }

  .contenedor-cot p:last-of-type {
    font-size: 1.3rem;
    text-align: left;
    text-wrap: wrap;
  }

  form {
    width: 50%;
  }

  textarea {
    height: 8rem;
  }

  .btn-enviar {
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem 0;
    text-align: center;
  }
}

.seccion-como-funciona {
  background-color: var(--azul-boton-2);
  color: var(--blanco-1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 5rem;
}

.sp-text {
  margin-top: 10rem;
  margin-bottom: 0.7rem;
  font-size: 0.76rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.sp-text-2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.subrayado {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.contenedor-hiw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
}

.flecha-corta {
  content: url("./images/small-arrow-d.png");
  display: block;
  width: 3rem;
  height: auto;
}

.flecha-larga {
  content: url("./images/big-arrow-d.png");
  display: block;
  width: 3rem;
  height: auto;
}

.contenedor-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pasos {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2b67a7;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
}

.container-pasos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .sp-text {
    font-size: 0.9rem;
  }

  .sp-text-2 {
    font-size: 1.6rem;
  }

  .subrayado {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
  }

  .container-pasos {
    padding: 0 8rem;
  }

  .container-pasos p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .sp-text {
    font-size: 1rem;
  }

  .sp-text-2 {
    font-size: 2.6rem;
  }

  .subrayado {
    text-decoration: underline;
    text-underline-offset: 0.6rem;
  }

  .contenedor-hiw {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
  }

  .flecha-corta {
    content: url("./images/arrow_tr.png");
  }

  .flecha-larga {
    content: url("./images/arrow_op.png");
  }

  .flecha-corta,
  .flecha-larga {
    width: 10rem;
    height: auto;
    position: relative;
    bottom: 4rem;
    flex-grow: 0;
  }

  .contenedor-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pasos {
    width: 4rem;
    height: 4rem;
  }

  .container-pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }
}

.por-que-develroot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-top: 8rem;
  margin-bottom: -8rem;
}

.subtitulo {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--verde-3);
  letter-spacing: 0.1rem;
}

.sp-text-3 {
  font-size: 1.25rem;
  text-wrap: wrap;
}

.contenedor-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.lista-razones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  list-style: none;
  line-height: 2;
  letter-spacing: 0.05rem;
}

.lista-razones li {
  position: relative;
  padding-left: 3.5rem;
}

.lista-razones li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.b1::before {
  background-image: url("./images/small-rocket.png");
}

.b2::before {
  background-image: url("./images/tie.png");
}

.b3::before {
  background-image: url("./images/target.png");
}

.contenedor-img {
  display: block;
  width: 100%;
}

.contenedor-img img {
  width: 100%;
  height: auto;
  visibility: hidden;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .por-que-develroot {
    padding: 4rem;
    margin-bottom: 0;
  }
  .subtitulo {
    font-size: 1rem;
  }

  .sp-text-3 {
    font-size: 1.9rem;
  }

  .lista-razones {
    gap: 4rem;
  }

  .contenedor-img {
    width: 85%;
  }

  .contenedor-img img {
    visibility: visible;
  }
}

@media (min-width: 1024px) {
  .por-que-develroot {
    width: 80%;
    margin-bottom: 8rem;
  }

  .sp-text-3 {
    font-size: 3rem;
  }

  .contenedor-box-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .lista-razones {
    font-size: 1.4rem;
  }

  .contenedor-img {
    width: 50%;
  }

  .contenedor-img img {
    visibility: visible;
  }
}

.talentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--blanco-2);
  margin-bottom: 10rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.descripcion-seccion {
  text-align: center;
}

.contenedor-roles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.contenedor-rol {
  max-width: 17rem;
  background-color: var(--blanco-1);
  padding: 2.5rem 2.5rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.28);
  height: 22rem;
}

.contenedor-rol.primero,
.contenedor-rol.tercero {
  border-radius: 0 10%;
}

.contenedor-rol.segundo {
  border-radius: 10% 0;
}

.contenedor-rol img {
  width: 3.5rem;
  height: auto;
  margin-bottom: 1rem;
}

.titulo-rol {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.descripcion-rol {
  font-size: 0.9rem;
  line-height: 1.8;
  text-wrap: wrap;
}

@media (min-width: 600px) and (max-width: 1023px) {
  h4 {
    font-size: 1.9rem;
  }

  .contenedor-roles {
    gap: 3rem;
  }

  .contenedor-rol {
    max-width: 18rem;
    gap: 0.5rem;
    padding: 2rem 2rem 3rem 2rem;
    height: 22rem;
  }

  .contenedor-rol img {
    width: 4.5rem;
  }
}

@media (min-width: 1024px) {
  h4 {
    font-size: 3rem;
  }

  .descripcion-seccion {
    font-size: 1.3rem;
    margin: 1rem 0 3rem 0;
  }

  .contenedor-roles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .contenedor-rol {
    max-width: 19.5rem;
    height: 20rem;
    padding: 3rem 2rem 3rem 2rem;
  }

  .contenedor-rol img {
    width: 4.5rem;
  }

  .descripcion-rol {
    font-size: 0.95rem;
  }
}

.testimonios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--blanco-1);
}

.testimonios h4 {
  text-align: center;
  line-height: 1.2;
}

.contenedor-test {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.contenedor-testimonio {
  background-color: var(--blanco-2);
  max-width: 18.5rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-weight: 600;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.31);
}

.fuente {
  font-size: 0.9rem;
}
